# Node.js
node_modules
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Sistema
.DS_Store

/src/generated/prisma

# Ignora logs e builds temporários
*.log
frontend/build/  // Se o frontend gerar uma pasta build